body {
  background: linear-gradient(to bottom, #171a21, #1b2838, #2a475e, #66c0f4);
}
/* Legend */
#pack-legend {
  font-family: 12px Noto Sans JP;
  display: flex;
}
.legend {
  width: 200px;
  margin: 20px 0;
  margin-left: 20px;
  list-style: none;
  padding: 0;
}
.legend-btn {
  display: block;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legend-btn:hover.legend-btn.inactive:hover {
  opacity: 0.7;
}
.legend-btn.inactive {
  opacity: 0.5;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
  border-radius: 10px;
}
.legend-btn[genre="action"] .legend-symbol {
  background: #a6cee3;
  border: solid 1px #333;
}
.legend-btn[genre="indie"] .legend-symbol {
  background: #1f78b4;
  border: solid 1px #333;
}
.legend-btn[genre="adventure"] .legend-symbol {
  background: #b2df8a;
  border: solid 1px #333;
}
.legend-btn[genre="rpg"] .legend-symbol {
  background: #33a02c;
  border: solid 1px #333;
}
.legend-btn[genre="strategy"] .legend-symbol {
  background: #fb9a99;
  border: solid 1px #333;
}
.legend-btn[genre="simulation"] .legend-symbol {
  background: #e31a1c;
  border: solid 1px #333;
}
.legend-btn[genre="early-access"] .legend-symbol {
  background: #fdbf6f;
  border: solid 1px #333;
}
.legend-btn[genre="casual"] .legend-symbol {
  background: #ff7f00;
  border: solid 1px #333;
}
.legend-btn[genre="free-to-play"] .legend-symbol {
  background: #cab2d6;
  border: solid 1px #333;
}
.legend-btn[genre="massively-multiplayer"] .legend-symbol {
  background: #6a3d9a;
  border: solid 1px #333;
}
.legend-btn[genre="sports"] .legend-symbol {
  background: #ffff99;
  border: solid 1px #333;
}
.legend-btn[genre="racing"] .legend-symbol {
  background: #b15928;
  border: solid 1px #333;
}
.legend-btn[genre="miscellaneous"] .legend-symbol {
  background: #df0ce9;
  border: solid 1px #333;
}
.legendType {
  width: 200px;
  margin: 20px 0;
  list-style: none;
  padding: 0;
}
.legendType-btn {
  display: block;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legendType-btn:hover.legend-btn.inactive:hover {
  opacity: 0.7;
}
.legendType-btn.inactive {
  opacity: 0.5;
}
.legendType-symbol {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  display: inline-block;
  border-radius: 10px;
}
.legendType-btn[production="aaa"] .legendType-symbol {
  background: #ffffff;
  border: solid 0.5px #333;
}
.legendType-btn[production="independent"] .legendType-symbol {
  width: 13px;
  height: 13px;
  background: #ffffff;
  border: solid 3px #333;
}
.node:hover {
  fill-opacity: 2;
}
.genreGroup:hover {
  stroke-width: 3;
}

/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  max-width: 500px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}

.filter-panel {
  position: fixed;
  position: -webkit-sticky;
  top: 15px;
  left: 10px;
  background-color: #c7d5e0;
  border: 1px solid #66c0f4;
  padding: 25px;
  padding-right: 35px;
  border-radius: 15px;
  max-width: 155px;
}

.filter-panel .filter {
  margin-bottom: 5px;
  margin-top: -5px;
}

.filter-panel label {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 3.5px;
  padding-top: 3px;
  color: #333;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.filter-panel input[type="date"],
.filter-panel input[type="range"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 2px;
}

.filter-panel select {
  width: 108%;
  padding: 3px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.filter-panel span {
  display: block;
  font-size: 0.9em;
  color: #666;
}

.filter-panel .filter-languages {
  height: 120px; /* Adjust height as needed */
}

.filter-panel .filter-languages div {
  height: 12px;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

/* Styling for the labels of the checkboxes */
.filter-panel .filter-languages label {
  margin-top: -18px;
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 0.5em; /* Slightly smaller font size */
  color: #333; /* Dark grey text color */
  text-align: left;
  padding-left: 20px;
}

/* Styling for the checkboxes */
.filter-panel .filter-languages input[type='checkbox'] {
  margin-right: 5px; /* Space between checkbox and label */
}

.filter svg {
  margin-left: -20px;
}

rect.overlay {
  stroke: black;
}

rect.selection {
  stroke: none;
  fill: #171a21;
  fill-opacity: 0.6;
  margin-bottom: -20px;
}

#labelleft,
#labelright {
  font-family: "Arial", sans-serif;
  transform: translateY(8px);
  font-size: 12px;
}

#labelleft {
  text-anchor: end;
}

#labelright {
  text-anchor: start;
}

#charts-container {
  display: flex;
  padding-left: 230px;
}

#pack-layout {
  flex: 1;
  display: flex;
  justify-content: center;
}

#radar-chart,
#scatter-matrix {
  flex: 1;
}
